body {
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height:1.8;
}

p{
  padding-bottom:3px;
  padding-top:3px;
/*  color:#ededed;*/
  color:#4f4e4e;
}

h2{
/*  color:#ededed !important;*/
    color:#4f4e4e !important;
}

a {
  border: none;
}

a:hover, a:focus, a:active {
  text-decoration:none;
}

#content{
  z-index:100;
  height:100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  position:absolute;
}

#particles-js {
  position:fixed;
  z-index:1;
  width:100%;
  height:100%;
 /* background:linear-gradient(45deg, #e91e63, #ff9800);*/
 /*background:linear-gradient(45deg, #FEB000, #FFEF6F);*/
 background:linear-gradient(45deg, #3f97f8, #fcf19e);
/* background:linear-gradient(45deg, #000000, #3a3a3a);*/

}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

ul li a {
  text-decoration: none !important;
  color: #dfdfdf;
/*  color: #4f4e4e;*/
  font-size: 14.5px;
  font-weight: 600;
  display: block;
  padding: 10px 0;
  position: relative;
}
ul li a:hover {
  color: #4f4e4e;
  
}
 ul li a:hover:after {
  transform: scaleX(1);
 }
ul li a:before{
  content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    top: 10px;
    z-index: 7;
    left: 0;
    background-color: #72767E;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .65s cubic-bezier(.7,.3,0,1);
    -o-transition: all .65s cubic-bezier(.7,.3,0,1);
    transition: all .65s cubic-bezier(.7,.3,0,1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    will-change: transform;
}
 ul li a:after {

  text-decoration: none;
  content: '';
  position: absolute;
  bottom: 8.5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #72767E;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left
}
#work:after{
  display: none;
}
#nav{
  margin-left: 0px !important;
  margin-right: 0px !important;
  box-shadow: 0 2px 4px hsla(0,0%,50%,.12);

    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 9;
    background-color: transparent;
}
.expand:hover:after {
  content: '';
  z-index: 11;
  position: absolute;
  width: 27%;
  height: 26%;
  top: 45%;
  left: 0%;
  right: 0;
  bottom: 0;
  background-color: #ffe560;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: text-reveal;
          animation-name: text-reveal;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

@-webkit-keyframes text-reveal {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%, 100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@keyframes text-reveal {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%, 100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

.after-animation:after {
  visibility: visible !important;
  -webkit-transform: scaleX(1) !important;
  -ms-transform: scaleX(1) !important;
      transform: scaleX(1) !important; }

a {
/*  color:#ebebeb !important*/
  color: #5d5d5d !important;
}
.nav-up {
    top: -50px !important;
}   

@media (max-width: 600px) {

  h1{
    font-size: 1.5rem;
  }
  #firstsec1{
    width:100% !important;
  }
  #section1 {
    margin-top: -10%;
}
#flow p{
  font-size: 14px !important;
}
#section1 .col-md-3{
  margin-top: 15%;
}
p{
  font-size: 16px !important;
}
#section1 p{
  font-size: 16px;
}
  .sidenav{
    display: none;
  }
.row{
  margin-left: 0px;
  margin-right: 0px;
}
#nav {
    display: inline-block;
 
}
#nav .col-2 {
    max-width: 25%;
    display: inline-block;
    float: left;
}
.expand{
  font-size:14px !important;
}
#nav .col-8{
  display: inline-block;
    float: right;
    max-width: 75%
}
#nav ul li {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
}

@media (min-width: 605px) and (max-width: 1300px) {
#nav {
    display: inline-block;
 
}
#flow{
  padding-bottom: 6.5%;
}
#nav .col-2 {
    max-width: 15%;
    margin-left: 5%;
    display: inline-block;
    float: left;
}

#nav .col-8{
  display: inline-block;
    float: right;
    max-width: 48%
}
}

#myVideo{
  width: 100%;
}


body {
  background-color: #1E314F;
  font-family: 'Helvetica Rounded', 'Arial Rounded MT Bold','Montserrat', sans-serif;
  color: #fff;
}

.toggleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  padding: 0 200px;
  transform: translate3d(-50%, -50%, 0);
  
  input {
    position: absolute;
    left: -99em;
  }
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83D8FF;
  border-radius: 90px - 6;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  
  &:before {
    content: 'AM';
    position: absolute;
    left: -50px;
    top: 15px;
    font-size: 18px;
  }
  
  &:after {
    content: 'PM';
    position: absolute;
    right: -48px;
    top: 15px;
    font-size: 18px;
    color: #749ED7;
  }
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 50px - 6;
  height: 50px - 6;
  background-color: #FFCF96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform:  rotate(-45deg);
  
  .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }
  
  .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
  }
  
  .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
  }
  
  .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
  }
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}
    
.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px,0,0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px,0,0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px,0,0);
}

input:checked {
  + .toggle {
    background-color: #749DD6;
  
    &:before {
      color: #749ED7;
    }

    &:after {
      color: #ffffff;
    }
    
    .toggle__handler {
      background-color: #FFE5B5;
      transform: translate3d(40px, 0, 0) rotate(0);
  
      .crater { opacity: 1; }
    }
    
    .star--1 {
      width: 2px;
      height: 2px;
    }
    
    .star--2 {
      width: 4px;
      height: 4px;
      transform: translate3d(-5px, 0, 0);
    }
    
    .star--3 {
      width: 2px;
      height: 2px;
      transform: translate3d(-7px, 0, 0);
    }
    
    .star--4,
    .star--5,
    .star--6 {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    .star--4 {
      transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .star--5 {
      transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .star--6 {
      transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
}

.contactme{
   color: #6f6fff !important;
}

.contactme:hover {
/*  background-color: #79e0ff*/;
  color:#dff526 !important;
/*  border:5px ;*/
  font-weight:500;
  padding-left:6px;
  padding-top:3px;
}
