body,
html {
  width: 100%;
  height: 100%;
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height:1.8;
}

p{
  padding-bottom:5px;
  padding-top:20px;
}

pre {
/*  font-family:'Source Sans Pro';*/
    font-family:roboto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.8;
    font-size:18px;
    color: #545556;
    margin-top:3rem;
}
ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

ul li a {
  text-decoration: none !important;
  color: #72767E;
  font-size: 14.5px;
  font-weight: 600;
  display: block;
  padding: 10px 0;
  position: relative;
}
ul li a:hover {
  color: #72767E;
  
}
 ul li a:hover:after {
  transform: scaleX(1);
 }
ul li a:before{
  content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    top: 10px;
    z-index: 7;
    left: 0;
    background-color: #72767E;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .65s cubic-bezier(.7,.3,0,1);
    -o-transition: all .65s cubic-bezier(.7,.3,0,1);
    transition: all .65s cubic-bezier(.7,.3,0,1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    will-change: transform;
}
 ul li a:after {

  text-decoration: none;
  content: '';
  position: absolute;
  bottom: 8.5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #72767E;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left
}
#work:after{
  display: none;
}
#nav{
  margin-left: 0px !important;
  margin-right: 0px !important;
  box-shadow: 0 2px 4px hsla(0,0%,50%,.12);

    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 9;
    background-color: white;
}
.expand:hover:after {
  content: '';
  z-index: 11;
  position: absolute;
  width: 29%;
  height: 28%;
  top: 43%;
  left: 5%;
  right: 0;
  bottom: 0;
  background-color: #66beff;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: text-reveal;
          animation-name: text-reveal;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

@-webkit-keyframes text-reveal {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%, 100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@keyframes text-reveal {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%, 100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

.after-animation:after {
  visibility: visible !important;
  -webkit-transform: scaleX(1) !important;
  -ms-transform: scaleX(1) !important;
      transform: scaleX(1) !important; }

a {
  color:#4a4a4a;
  font-weight:400;
}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 2%;
    overflow-x: hidden;
    padding-top: 200px;

     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #DFDFDF;
    display: block;
    background:color;
}

.sidenav a:hover {
    color: #0F3351;
    font-weight:600;
    font-size:14px;
}

.sidenav a.active {
     color: #0F3351;
    font-weight:600;
    font-size:14px;
}

#sidefirst a:hover{

}

#sidesecond a:hover{

}

.main {
    margin-right: 180px; 
}

#mainpic{
    height: auto;
    width: 100%;
}
/*#flow{
  padding-bottom: 20%;
    margin-top: -43.8%;
    height: auto;
    padding-top: 13.2%;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.6);
}
#flow .col-md-4{
  padding-top: 2%;
  padding-bottom: 2%;
}
#flow p{
  margin-bottom:-20px;
}*/
#section1{
  margin-top: 5rem;
}
#section1 h5{
  color: #AFE2DF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
}
#section1 p{
  margin-bottom: -20px;
  font-size:18px;
  margin-top: -5%;
}
.collabrotor-people{
  color: #AFE2DF;
  
}
#sec-link{
  color: #AFE2DF;
  line-height: 5;
}
#wardrobe .pageheader{
  color: #2F2F2F;
  font-size: 26px;
  font-weight: 500;
}
#sec2-image img{
  width: 100%;
}
#digit{
  color: #66a3da;
  font-size: 40px;
  font-weight: bold;
}
.text{
  padding-top: 0px;
  font-weight: 500;
  font-size:20px;
}
#opportunity{
  margin-top: 5rem;
}
#start{
  margin-top: 5rem; 
}
#sec3-img{
}

#section3 .pageheader{
  color: #2F2F2F;
  font-size: 26px;
  font-weight: 500;
}

#sec3-img img{
  width: 100%;
}
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}
.portfolio-item .caption{
  display: none;
}
.portfolio-item:hover .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 125px;
  bottom: 0;
  z-index: 1;
}

.portfolio-item:hover .caption .caption-content {
  color: #888888;
  margin: auto 2rem 2rem;
  margin-top: 10% !important;
  text-align: center;
  width: 100%;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color:#4e4d4d;
  line-height: 1;
  margin-top:20px;
}

.portfolio-item .caption .caption-content p {
  font-weight: 100;
  font-size: 0.9rem;
/*  margin-top: 5%;*/
  color:#444444 !important;
}
.portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2.5rem;
    line-height:0.5;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  #work-items .portfolio-item{
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
   #work-items .portfolio-item:hover {
    box-shadow: 0 4px 8px rgba(1,1,1,1);
    transform: scale(1.03);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .portfolio-item:hover .caption {
    background-color: rgba(255, 255, 255, 0.85);
  }

}
#work-items{
  margin-left: 7%;
  margin-right: 7%;
}

#work-items .aos-animate{
  padding: 2%;
}
.lds-ripple {
  width: 64px;
  height: 64px;
   display: block;
  position: relative;
  left: 46%;
  top: 40%;
  z-index: 1001;
 
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #6FA2F7;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 11;
  width: 40px;
  height: 40px;
  margin: -75px 0 0 -50px;
  /*border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #fff900;*/
  background-image: url("./assets/img/loader1.gif");
  background-size: 90% 90%;
  width: 40px;
  height: 40px;
  transform-origin: center center;
/*  -webkit-transform-origin: center center;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;*/
}

#loadScreen{
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
}
#loadScreen.loadhide{
  transition: all 2s ease-out;
  display: none;
}

#loaderText{
  z-index: 11;
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(40% + 0px);
}
/*

.loaded #loader-wrapper .loader-section.section-left{
  -webkit-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition:all 0.5s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  transition: all 0.5s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    -ms-transition: all 0.5s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
} 
.loaded #loader-wrapper .loader-section.section-right{
  -webkit-transform:translateX(100%);
  -ms-transform:translateX(100%);
  transform: translateX(100%);
  
    -webkit-transition:all 0.5s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  transition: all 0.5s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    -ms-transition: all 0.5s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader{
  opacity: 1;
}

.loaded #loader-wrapper{
  -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 1s ease-out; 
                transition: all 0.3s 1s ease-out;
}*/
#firstsec{
  margin-top: 2%;
}
#firstsec .col-md-8{
  text-align: center;
}
#firtsec .col-md-8 > .col-md-12{
  margin-top: 3%;
}
.firstsecBold{
  font-weight: 400;
}
#firstsec p{
  padding: 0px !important;
  margin:0px !important;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.secheader{
  font-weight:700;
  color:#577ED1;
  font-size:20px;
  padding-bottom:10px;
  margin-top: 5rem;
}

.inlinetext{
  color:#577ED1;
  font-weight:300;
}

.inlinebold{
  font-weight:400;
}

.column{
  float:left;
  width:30%;
  margin-right:10%;
  margin-left:10%;
  margin-bottom:5%;
  height:auto;
}

.brandeisdemo:after{
  display:table;
  clear:both;
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#blurpage{
  bottom:20px;
  background-color:#577ED1;
}

#mysidefooter a {
    position: relative;
    left: 0px;
    transition: 0.3s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

#mysidefooter a:hover {
    left: 20px;
}

.active {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}


.light-sidenav {
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    background-color:rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.container {
  padding-right:10%;
  padding-left:10%;
}

.buttonnav{
  text-align:center;
    padding-top:60px;
}

a:hover {
    text-decoration:none;
}
.previous{
  padding-right:20px;
  color:grey;
}
.next{
  padding-left:20px;
  color:grey;
}

body {
/*  font-family: 'Source Sans Pro'!important; */
  font-family:roboto;
  font-weight:300;
  height:100vh;
  font-size:17px;
  color: #545556;

}

.pageheader{
  font-size:2rem;
  font-weight:500;
  margin-top:2rem;
  margin-bottom:0.5rem;
  text-align:center;
  font-color:black;
}

.secheader{
  font-size:23px;
  font-weight:500;
  margin-top:7rem;
  margin-bottom:3rem;
  text-align:center;
  font-color:#66a3da;
}

.paragraphintro{
  padding-bottom:0rem;
  font-weight:300;
  text-align:center;
  color:#868686;
}

img {
  background: url('../assets/img/brandeiscover.gif') no-repeat;
}

.nav-up {
    top: -50px !important;
}   

@media (max-width: 600px) {

  h1{
    font-size: 1.5rem;
  }
  #firstsec1{
    width:100% !important;
  }
  #section1 {
    margin-top: -10%;
}
#flow p{
  font-size: 14px !important;
}
#section1 .col-md-3{
  margin-top: 15%;
}
p{
  font-size: 16px !important;
}
#section1 p{
  font-size: 16px;
}
  .sidenav{
    display: none;
  }
.row{
  margin-left: 0px;
  margin-right: 0px;
}
#nav {
    display: inline-block;
 
}
#nav .col-2 {
    max-width: 25%;
    display: inline-block;
    float: left;
}
.expand{
  font-size:14px !important;
}
#nav .col-8{
  display: inline-block;
    float: right;
    max-width: 75%
}
#nav ul li {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
}

@media (min-width: 605px) and (max-width: 1300px) {
#nav {
    display: inline-block;
 
}
#flow{
  padding-bottom: 6.5%;
}
#nav .col-2 {
    max-width: 15%;
    margin-left: 5%;
    display: inline-block;
    float: left;
}

#nav .col-8{
  display: inline-block;
    float: right;
    max-width: 48%
}
}

#myVideo{
  width: 100%;
}

.imagebreak{
  margin-bottom:6rem;
}

.gifdemo{
  border-radius: 10px;
  box-shadow: 0 2px 21px rgba(0,0,0,.08);
}


.pstyle{
  margin-left:10%;
  margin-right:9%;
}

.moreheader{
  font-size:1.8rem;
  font-weight:500;
  margin-top:12rem;
  margin-bottom:2rem;
  text-align:center;
  font-color:black;
}

.teamchart{
  margin-left:25%;
  margin-bottom:15%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 83.8%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00000095;
}

.container:hover .overlay {
  opacity: 0.8;
}

.overlaytext {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height:1rem;
}

.covertext{
  font-size:15px;
  padding-top:1rem;
}